.element__sum-likes {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  width: 100%;
  max-width: 10px;
  cursor: default;
  margin: 0;
}
