.footer__copyright {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding-top: 67px;
  padding-bottom: 60px;
  width: 100%;
  max-width: 318px;
  cursor: default;
}

@media (max-width: 390px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding-top: 48px;
    padding-left: 19px;
    padding-bottom: 36px;
    max-width: 282px;
  }
}

