.footer {
  width: 100%;
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  margin: auto auto 0;
}

@media (max-width: 890px) {
  .footer {
    max-width: 580px;
  }
}

@media (max-width: 590px) {
  .footer {
    max-width: 380px;
  }
}

@media (max-width: 390px) {
  .footer {
    max-width: 320px;
  }
}
