.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile__avatar:hover {
  opacity: 0.2;
  transition: 0.3s;
}

@media (max-width: 890px) {
  .profile__avatar {
    max-width: 120px;
  }
}

@media (max-width: 390px) {
  .profile__avatar {
    max-width: 120px;
  }
}
