.element__delete {
  background-image: url(../../../images/elements/btn_delete.svg);
  border: none;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.element__delete:hover {
opacity: 0.5;
transition: 0.3s;
}
