.popup__container {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 358px;
  color: black;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  padding: 34px 36px 37px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media (max-width: 520px) {
  .popup__container {
    max-width: 238px;
    padding: 25px 22px;
  }
}
